/*
https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff
ffffff
e5e5e5
fca311
14213d
000000 */

p {
    font-style: italic;
    line-height: 25px;
    text-align: justify;
    width: 50%;
    text-indent: 5em;
    margin: 10px auto;
    padding: 1%;
    border: 5px solid black;
    border-radius: 30px 5px;
}

.fis, .mat{
    background-size: cover;
    background-attachment: fixed;

}

.divisao{
    background-image: url('IMG/programing.jpg');
    background-attachment: fixed;
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;

}

.divisao h2{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

body{
    margin-top: 0;
}

.menu-topo{
    display: flex;
    justify-content: space-around;
    background-color: #e5e5e5;
    padding: 6px;
    position: fixed;
    left: 0;
    width: 100%;
}

a{
    text-decoration: none;
}

.menu-topo a:hover{
    border-bottom: 1px dotted; /* Adiciona um sublinhado pontilhado */
    padding-bottom: 2px; /* Ajusta o espaçamento entre o texto e o sublinhado */
}

.principal{
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

.lista_horizontal{
    display: flex; /* Adicionado para alinhar horizontalmente */
    gap: 20px; /* Espaço entre as listas */
    margin: 0 auto;

}

h1{
    text-align: center;
    padding-top: 10px;   

}

.modific{
    font-size: smaller;
    text-align: center;
}